<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>986463601783-nj2c08a92ps5f4jd7f6caqv1hdch009d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.986463601783-nj2c08a92ps5f4jd7f6caqv1hdch009d</string>
	<key>API_KEY</key>
	<string>AIzaSyCYh3i3dPQ8npIYIuvpKTsHusuDh1EhZek</string>
	<key>GCM_SENDER_ID</key>
	<string>986463601783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Anurita.FirebaseDatabase</string>
	<key>PROJECT_ID</key>
	<string>fir-database-405f5</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-database-405f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:986463601783:ios:4481b373111ac07a</string>
	<key>DATABASE_URL</key>
	<string>https://fir-database-405f5.firebaseio.com</string>
</dict>
</plist>